.rdiv {
    display: block;
    width: 100%;
    height: 90vh;
    padding-top: 16px; /* and this */
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 0;}
.rbig {
  flex-grow: 1;
  border: none;
  margin: 0;
  padding: 0; 
  }
.div {
  color: white;
  text-align: right;
  background-color: black;
}
ul {
  position: fixed
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
li a:active {
  background-color: #111;
}
body {
  background-color: #424242;
}
.rlist {
  list-style: inside;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tlist {
  font-family: 'Trebuchet MS', sans-serif;
}
.tlist:link {
  text-decoration: none;
}

.tlist:visited {
  text-decoration: none;
}

.tlist:hover {
  text-decoration: underline;
}

.tlist:active {
  text-decoration: underline;
}

.titre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.texta {
    color: #fff;
    font-size: 40px;
}
.titre h1 {
    color: #fff;
    font-size: 70px;
}
.rtitre h1{
    color: #fff;
    font-size: 60px;
}

.bouton {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bouton a {
    border: 1px solid #fff;
    border-radius: 50px;
    text-decoration: none;
    padding: 10px 18.5px;
}

.btn {
    transition: 00.6s ease;
}

.btn:hover {
    background-color: #fff;
    color: #000;
}  
