.rdiv {
  position: absolute;
  top: 70%;
  left: 10%;
  transform: translate(-50%, -50%);
}
.rbig {
  width:1000px;
  height:600px;
  }
.resp-container { 
  position: relative; 
  overflow: hidden; 
  padding-top: 56.25%; 
}
.resp-iframe { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  border: 0; 
}

.div {
  color: white;
  text-align: right;
  background-color: black;
}
/*
@media screen and (min-width: 2000px; min-height:700px;) {
  .rpdf{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-16%, -37%);
    width:2000px;
    height:700px;
  }
}
*/