.rdiv {
  position: absolute;
  top: 70%;
  left: 10%;
  transform: translate(17%, -71%);
}
.rbig {
  height: 617px;
  width: 905px;
  }
.div {
  color: white;
  text-align: right;
  background-color: black;
}
/*
@media screen and (min-width: 2000px; min-height:700px;) {
  .rpdf{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-16%, -37%);
    width:2000px;
    height:700px;
  }
}
*/