.rdiv {
  display: block;
  width: 100%;
  height: 90vh;
  padding-top: 16px; /* and this */
  box-sizing: border-box;
  border: 0;}
.rbig {
  flex-grow: 1;
  border: none;
  margin: 0;
  padding: 0; 
  }
.div {
  color: white;
  text-align: right;
  background-color: black;
}
body{
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://gilaxy04ytbcompte2.github.io/loowriters/storage/img/background.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
ul {
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
li a:active {
  background-color: #111;
}
body {
  background-color: #424242;
}

.tmain {
    margin: auto;
    margin-top:10vh;
    width: 70vw;
    height:40vh;
    padding: 10px;  
}
.main {
    margin: auto;
    margin-top:5vh;
    width: 70vw;
    height:40vh;
    padding: 10px;  
}
.main h1{
    color: #fff;
    font-size: 60px;
    text-align: center;
}
.tmain h1{
    color: #fff;
    font-size: 60px;
    text-align: center;
}
#btn {
    border: 1px solid #fff;
    border-radius: 50px;
    text-decoration: none;
    padding: 10px 18.5px;
    text-align: center;
}
.bpl {
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.navBar{
  width: 100%;
  top: 0;
  left: 0;
}
