.rdiv {
    display: block;
    width: 100vw;
    height: 90vh;
    padding-top: 16px; /* and this */
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 0;}
.rbig {
  flex-grow: 1;
  border: none;
  margin: 0;
  padding: 0; 
  }
.div {
  color: white;
  text-align: right;
  background-color: black;
}
ul {
  position: fixed
  padding-left: 0px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/*
@media screen and (min-width: 2000px; min-height:700px;) {
  .rpdf{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-16%, -37%);
    width:2000px;
    height:700px;
  }
}
*/