.rpdf {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.riframe {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.rdiv {
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
}
