.rdiv {
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.div {
  color: white;
  text-align: right;
  background-color: black;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (min-width: 800px) {
  .rpdf{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-16%, -37%);
    width:750px;
    height:600px;
  }
}
@media screen and (min-width: 1000px) {
  .rpdf{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-16%, -37%);
    width:950px;
    height:600px;
  }
}
@media screen and (min-width: 1200px) {
  .rpdf{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-22%, -35%);
    width: 1200px;
    height: 643px;
  }
}
@media screen and (min-width: 2000px) {
  .rpdf{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-16%, -37%);
    width:1950px;
    height:600px;
  }
}

