.rdiv {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 16px; /* and this */
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 0;}
.rbig {
  flex-grow: 1;
  border: none;
  margin: 0;
  padding: 0; 
  }
.div {
  color: white;
  text-align: right;
  background-color: black;
}
/*
@media screen and (min-width: 2000px; min-height:700px;) {
  .rpdf{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-16%, -37%);
    width:2000px;
    height:700px;
  }
}
*/