.ctext {
    position: absolute;
    top: 70%;
    left: 37%;
    transform: translate(-28%, -47%);
}
.dtext {
    position: absolute;
    top: 50%;
    left: 37%;
    transform: translate(-28%, -47%);
}
