.dtext {
    margin: auto;
    margin-top:10vh;
    width: 70vw;
    height:40vh;
    padding: 10px;  
}
.text {
    margin: auto;
    margin-top:5vh;
    width: 70vw;
    height:40vh;
    padding: 10px;  
}

