.rlist {
  list-style: inside;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tlist {
  font-family: 'Trebuchet MS', sans-serif;
}
.tlist:link {
  text-decoration: none;
}

.tlist:visited {
  text-decoration: none;
}

.tlist:hover {
  text-decoration: underline;
}

.tlist:active {
  text-decoration: underline;
}
.idiv {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-15%, -30%);
}
.input {
  color:red;
  text-align:right
}
#searchbar{
	margin-left: 15%;
	padding:15px;
	border-radius: 10px;
}

input[type=text] {
	width: 30%;
	-webkit-transition: width 0.15s ease-in-out;
	transition: width 0.15s ease-in-out;
}

/* When the input field gets focus,
		change its width to 100% */
input[type=text]:focus {
	width: 60%;
}

#list{
	font-size: 1.5em;
	margin-left: 90px;
  display: flex;
  flex-direction: column;
}

.idiv {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-15%, -30%);
}
.input {
  color:red;
  text-align:right
}
#searchbar{
	margin-left: 15%;
	padding:15px;
	border-radius: 10px;
}

input[type=text] {
	width: 90%;
	-webkit-transition: width 0.15s ease-in-out;
	transition: width 0.15s ease-in-out;
}

/* When the input field gets focus,
		change its width to 100% */
input[type=text]:focus {
	width: 150%;
}

#list{
	font-size: 1.5em;
	margin-left: 90px;
}

.animals{
display: list-item;	
}

.item-link {
  font-family: 'Trebuchet MS', sans-serif;
}
.item-link:link {
  text-decoration: none;
  color: white;
}

.item-link:visited {
  text-decoration: none;
  color: white;
}

.item-link:hover {
  text-decoration: none;
  color: white;
}

.tlist:active {
  text-decoration: none;
  color: white;
}

.rlist {
  list-style: inside;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rplace {
  list-style: inside;
  position: absolute;
  top: 30%;
  left: 44%;
  transform: translate(-50%, -50%);
}
