.rlist {
  list-style: inside;
}

.tlist {
  font-family: 'Trebuchet MS', sans-serif;
}
.tlist:link {
  text-decoration: none;
}

.tlist:visited {
  text-decoration: none;
}

.tlist:hover {
  text-decoration: underline;
}

.tlist:active {
  text-decoration: underline;
}
