header ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: 0;
}
header ul li{
    list-style: none;
}
@media screen and (max-width: 850px) {
    .tmain h1{
        width: auto;
        font-size: auto;
    }
}