header ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 50vw;
    left: 0;
}
header ul li{
    list-style: none;
}
.tmain h1{
    color: #fff;
    font-size: 2em;
    text-align: center;
}
@media screen and (max-width: 850px) {
    .tmain h1{
        font-size: 1em;
    }
}