* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://gilaxy04ytbcompte2.github.io/loowriters/storage/img/background.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@keyframes btn_animation {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60% {
		transform: translateX(10px);
	}

	80% {
		transform: translateX(8px);
	}

	90% {
		transform: translateX(-8px);
	}
}
@keyframes enter_animation {
	0% {
		opacity: 0;
		transform: rotate(-540deg) scale(0);
	}

	100% {
		opacity: 1;
		transform: rotate(0) scale(1);
	}
}
.animation1 {
		width: 100px; height: 100px; background-color:#ffe672; 
		
		animation-name: slit-in-horizontal;
		animation-duration: 2.2s;
		animation-timing-function: ease;
		animation-delay: 0s;
		animation-iteration-count: 7;
		animation-direction: normal;
		animation-fill-mode: none;
			
		/* shorthand
		animation: slit-in-horizontal 2.2s ease 0s 7 normal none;*/
	}
	@keyframes slit-in-horizontal {
			
		0% {
			transform:translateZ(-800px) rotateX(90deg);
			opacity:0;
		}
		50% {
			transform:translateZ(-160px) rotateX(87deg);
			opacity:1;
		}
		100% {
			transform:translateZ(0) rotateX(0);
		}
	}
.logo a {
    padding: 0px 20px;
    border: 1px solid transparent;
    height: 10px;
    width: 10px;
    text-transform: uppercase;
    text-decoration: none;
}

ul {
  position: fixed
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.stitre {
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.titre {
    position: relative;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.rtitre {  
    margin: auto;
    margin-top:10vh;
    width: 70vw;
    height:40vh;
    padding: 10px;
}
.main {
    margin: auto;
    margin-top:5vh;
    width: 70vw;
    height:40vh;
    padding: 10px;  
}
.main h1{
    color: #fff;
    font-size: 60px;
    text-align: center;
}
#btn {
    border: 1px solid #fff;
    border-radius: 50px;
    text-decoration: none;
    padding: 10px 18.5px;
    text-align: center;
}
.bpl {
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.texta {
    color: #fff;
    font-size: 40px;
    text-align: center;
}
.titre h1 {
    color: #fff;
    font-size: 70px;
    text-align: center;
}
.rtitre h1{
    color: #fff;
    font-size: 60px;
    text-align: center;
}

.bouton {
    margin: auto;
    width: 50vw;
    height:50vh;
    border: 3px solid #73AD21;
    padding: 10px;
}

.bouton a {
    border: 1px solid #fff;
    border-radius: 50px;
    text-decoration: none;
    padding: 10px 18.5px;
    text-align: center;
}

.btn {
    animation: enter_animation 3s ease 0s 1 normal backwards;
    transition: 00.6s ease;
}

.btn:hover {
    animation: enter_animation 1s ease 0s infinite normal backwards;
    background-color: #fff;
    color: #000;
}
.dtext {
    position: absolute;
    top: 50%;
    left: 37%;
    transform: translate(-28%, -47%);
}
