* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://gilaxy04ytbcompte2.github.io/loowriters/storage/img/background.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo a {
    padding: 0px 20px;
    border: 1px solid transparent;
    height: 10px;
    width: 10px;
    text-transform: uppercase;
    text-decoration: none;
}

ul {
    list-style: none;
    float: left;
    display: flex;
    margin-top: 20px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid transparent;
    margin: 10px;
    border-radius: 5px;
    transition: 0.6s ease;
    cursor: pointer;
}

ul li a:hover {
    background: #fff;
    color: #000;
    border-radius: 10px;
}

ul li.active a {
    background: #fff;    
    color: #000;
}

.navBar {
    max-width: 114rem;
    margin: 0 auto;
}

.titre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.texta {
    color: #fff;
    font-size: 40px;
}
.titre h1 {
    color: #fff;
    font-size: 70px;
}
.rtitre h1{
    color: #fff;
    font-size: 60px;
}

.bouton {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bouton a {
    border: 1px solid #fff;
    border-radius: 50px;
    text-decoration: none;
    padding: 10px 18.5px;
}

.btn {
    transition: 00.6s ease;
}

.btn:hover {
    background-color: #fff;
    color: #000;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.fa-bars:before {
    content: "\f0c9";
}
.topnav {
  list-style: none;
  float: left;
  display: flex;
  margin-top: 20px
}

.topnav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid transparent;
    margin: 10px;
    border-radius: 5px;
    transition: 0.6s ease;
    cursor: pointer;
}

.topnav a:hover {
    background: #fff;
    color: #000;
    border-radius: 10px;
}

.topnav a.active {
    background: #fff;    
    color: #000;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
