* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://gilaxy04ytbcompte2.github.io/loowriters/storage/img/background.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@keyframes btn animation {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60% {
		transform: translateX(10px);
	}

	80% {
		transform: translateX(8px);
	}

	90% {
		transform: translateX(-8px);
	}
}
@keyframes enter animation {
	0% {
		opacity: 0;
		transform: rotate(-540deg) scale(0);
	}

	100% {
		opacity: 1;
		transform: rotate(0) scale(1);
	}
}
.animation1 {
		width: 100px; height: 100px; background-color:#ffe672; 
		
		animation-name: slit-in-horizontal;
		animation-duration: 2.2s;
		animation-timing-function: ease;
		animation-delay: 0s;
		animation-iteration-count: 7;
		animation-direction: normal;
		animation-fill-mode: none;
			
		/* shorthand
		animation: slit-in-horizontal 2.2s ease 0s 7 normal none;*/
	}
	@keyframes slit-in-horizontal {
			
		0% {
			transform:translateZ(-800px) rotateX(90deg);
			opacity:0;
		}
		50% {
			transform:translateZ(-160px) rotateX(87deg);
			opacity:1;
		}
		100% {
			transform:translateZ(0) rotateX(0);
		}
	}
.logo a {
    padding: 0px 20px;
    border: 1px solid transparent;
    height: 10px;
    width: 10px;
    text-transform: uppercase;
    text-decoration: none;
}

ul {
    list-style: none;
    float: left;
    display: flex;
    margin-top: 20px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid transparent;
    margin: 10px;
    border-radius: 5px;
    transition: 0.6s ease;
    cursor: pointer;
}

ul li a:hover {
    background: #fff;
    color: #000;
    border-radius: 10px;
}

ul li.active a {
    background: #fff;    
    color: #000;
}

.navBar {
    max-width: 114rem;
    margin: 0 auto;
}

.titre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.texta {
    color: #fff;
    font-size: 40px;
}
.titre h1 {
    color: #fff;
    font-size: 70px;
}
.rtitre h1{
    color: #fff;
    font-size: 60px;
}

.bouton {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bouton a {
    border: 1px solid #fff;
    border-radius: 50px;
    text-decoration: none;
    padding: 10px 18.5px;
}

.btn {
    animation: enter animation 3s ease 0s 1 normal backwards;
    transition: 00.6s ease;
}

.btn:hover {
    animation: enter animation 1s ease 0s infinite normal backwards;
    background-color: #fff;
    color: #000;
}  
