* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
body{
    
    background: url(/image/background.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo a {
    padding: 0px 20px;
    border: 1px solid transparent;
    height: 10px;
    width: 10px;
    text-transform: uppercase;
    text-decoration: none;
}

ul {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(158 96 4);
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.right {
    float: right;
}

li a:hover {
    background-color: #111;
}

li a:active {
    background-color: #111;
}

.bmain {
    margin: auto;
    margin-top:1vh;
    padding: 10px;  
}

.tmain {
    margin: auto;
    margin-top:10vh;
    padding: 10px;  
}

.main {
    margin: auto;
    margin-top:5vh;
    padding: 10px;  
}

.smain {
    margin: auto;
    margin-top:3vh;
    padding: 10px;
}
.fmain {
    margin: auto;
    margin-top:10vh;
    padding: 10px;
}

.main h1{
    color: #fff;
    font-size: 60px;
    text-align: center;
}
.lmain {
    margin: auto;
    margin-top:1vh;
    padding: 10px;  
}
.lmain h1{
    color: #fff;
    font-size: 30px;
    text-align: center;
}
.tlmain {
    margin: auto;
    margin-top:10vh;
    padding: 10px;  
}
.tlmain h1{
    color: #fff;
    font-size: 60px;
    text-align: center;
}
#btn {
    border: 1px solid #fff;
    border-radius: 50px;
    text-decoration: none;
    padding: 10px 18.5px;
    text-align: center;
}
.bpl {
    margin-left: auto;
    margin-right: auto;
    display: table;
}
.text {    
    margin: auto;
    margin-top:10vh;
    padding: 10px;
    text-align:center;

}
.tmain h1 {
    color: #fff;
    font-size: 70px;
    text-align: center;
}
.texta {
    font-size: 50px;
    text-align: center;
    color: white;
}
.nosee {
    visibility: hidden;
}
.see {
    visibility: visible;
}